<IfModule mod_rewrite.c>
  RewriteEngine On

  # Исключаем статические файлы из перенаправления
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # Все остальные запросы перенаправляем на index.html
  RewriteRule ^.*$ index.html [L]
</IfModule>

# MIME тип для JS файлов
AddType application/javascript .js
